/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
  * file per style scope.
 *

 */

 /*
 *= require jquery-ui
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

 html, body, section, article, h1, p, div, a {
     margin: 0;
     padding: 0;
     border: 0;
     font: inherit;
     color: inherit;
     background: transparent;
   }

   body {
     font-family: sans-serif;
     padding: 100px;
   }
   h1 {
     margin: 0 0 20px 0;
     font-size: 60px;
     font-weight: bold;
   }
   p {
     margin: 20px 0;
   }

   #search-bar {
     position: relative;
   }

   #search-bar-drop-down {
    //  border: 1px solid #ccc;
     position: absolute;
     box-shadow: 5px 8px 5px 0 #888888;
     z-index: 1;
     width: 85%;
   }

   .search-bar {
     position: relative;
   }

   .search-bar-drop-down {
    //  border: 1px solid #ccc;
     position: absolute;
     box-shadow: 5px 8px 5px 0 #888888;
     z-index: 1;
     width: 85%;
   }

   .search-bar-item {
     background-color: white;
     border: 1px solid #ccc;
     width: 100%;
   }

  ul {
     list-style: none;
     padding-left: 0px;
     padding-right: 0px;
  }

  html {
    margin: 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .content {
    font: helvetica, sans-serif;
    // color: rgba(255, 255, 255, 0.9);
    background-color: rgba(255, 255, 255, 0.6);
    border-top: solid;
    border-top-color: rgb(164, 164, 193);
    border-top-width: 1px;
  }

  #balance-book {
    border-width: 2px;
    border: solid;
    border-color: rgba(255, 255, 255, 1);
    border-style: ridge;
  }

  .balance-item {
    font: helvetica, sans-serif;
    color: rgba(255, 255, 255, 0.9);
    background-color: rgba(0, 0, 0, 0.7);
  }

  .balance-middle {
    border-color: rgba(255, 255, 255, 0.7);
    border-width: 3px;
    border-style: ridge;
    border-bottom: none;
    border-top: none;
  }

  .button-colored {
    background-color: rgba(128, 0, 0, 0.8);
    color: rgba(255, 255, 255, 0.9);
  }

  .btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 0;
  }

.button-toggle {
  padding: 0px;
  width: 255px;
}

#myModal-container {
  position: absolute;
  width: 500px;
  top: 50vh;
  left: 50vw;
  transform: translate(-20vw, -15vh);
}

.myModal-content {
  padding-top: 5%;
  padding-left: 10%;
  padding-bottom: 5%;
}

.button-split-type {
  padding: 5px 10px;
  border: none;
}

.hidden {
  display: none;
}

.add-bill-input {
  width: 90%;

}

.add-bill-input-label {
  margin-top: 10px;
}

#search-bar-drop-down {
  padding: 0;
}

.split-option-user-row {
  padding: 10px;
}

.button-small {
  padding: 2px 6px 3px 6px;
  border: none;
}

.button-colored-small {
  padding: 5px 10px;
  border: none;
  background-color: rgba(128, 0, 0, 0.8);
}

.modal-close {
  z-index: 1;
  position: absolute;
  top: 0;
  right: 15px;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
  color: gray;
}

.modal-close:hover {
  color: black;
}

#list-of-participants {
  margin-bottom: 0;
}

.event-item {
  font: helvetica, sans-serif;
  color: rgba(0, 0, 0, 0.9);
  background-color: rgba(255, 255, 255, 0.7);
  padding: 3vh;
  border-color: #a4a4c1;
  border-bottom: solid;
  border-width: 1px;
}

.background-container {
  background: url("background_01.jpg") no-repeat center center fixed;
  width: 100%;
  top: 51px;
  left: 0px;
  position: fixed;
  height: calc(100% - 51px);
}

.log-in-background-container {
  background: url("background_01.jpg") no-repeat center center fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  position: fixed;
}

.balance-container {
  position: absolute;
  top: 0;
}

.below-nav-container {
  top: 51px;
  left: 0px;
  position: fixed;
  // overflow-y: scroll;
  width: 100%;
  height: calc(100% - 51px);
}

.inner-div-nav {
  position: absolute;
  top:0;
}

.stretch-height {
  height: calc(100vh - 150px);
}

.index-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: scroll;
}

.background-filter {
  background-color: rgba(255,255,255, 0.8);
}

@media only screen {

}

.positive-amt {
  color: green;
  font-weight: bold;
}

.negative-amt{
  color: red;
  font-weight: bold;
}

.bottom{
  position: absolute;
  height: 35px;
  background-color: #222;
  border-color: #090909;
  bottom: 0px;
}

.session-form-container{
  position: absolute;
  top: calc(50% - 100px - 5vh);
  left: calc(45% - 150px - 5vw);
  width: calc(300px + 10vw);
  height: calc(200px + 10vh);
  color: white;
  background-color: black;
}
