/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
  * file per style scope.
 *

 */

 /*
 *= require jquery-ui
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

 @import url(https://fonts.googleapis.com/css?family=PT+Sans);

 html, body, section, article, h1, p, div, a {
     margin: 0;
     padding: 0;
     border: 0;
     font: inherit;
     color: inherit;
     background: transparent;
   }

   body {
     font-family: 'PT Sans', sans-serif;
     padding: 100px;
   }
   h1 {
     margin: 0 0 20px 0;
     font-size: 60px;
     font-weight: bold;
   }
   p {
     margin: 20px 0;
   }

   #search-bar {
     position: relative;
   }

   #search-bar-drop-down {
     position: absolute;
     z-index: 40;
     box-shadow: 5px 8px 5px 0 #888888;
     border: 1px solid #ccc;
     border-radius: 1px 1px 5px 5px;
   }

   .search-bar {
     position: relative;
   }

   .search-bar-drop-down {
     position: absolute;
     z-index: 50;
     box-shadow: 5px 8px 5px 0 #888888;
     border: 1px solid #ccc;
     border-radius: 1px 1px 5px 5px;
   }

   .search-bar-item {
     background-color: white;
     width: 100%;
     height: 40px;
     padding-top: 10px;
     font-size: large;
   }

  ul {
     list-style: none;
     padding-left: 0px;
     padding-right: 0px;
  }

  html {
    margin: 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .content {
    font: 'PT Sans', sans-serif;
    // color: rgba(255, 255, 255, 0.9);
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 5px 5px 5px #888888;
  }

  .list-group-item.content {
    border-radius: 0px 0px 15px 15px;
  }


  .list-group-item.content:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 1);
  }

  #balance-book {
    border-bottom: solid;
    border-right: solid;
    border-color: white;
    border-width: 8px;
  }

  .balance-item {
    font: 'PT Sans', sans-serif;
    color: rgba(0, 0, 0, 1);
    background-color: rgba(255, 255, 255, 0.5);
    border-top: solid;
    border-color: #a4a4c1;
    border-width: 1px;
  }

  .balance-middle {
    border-left: solid;
    border-right: solid;
    border-top: solid;
    border-color: #a4a4c1;
    border-width: 1px;
  }

  .button-colored {
    background-color: rgba(128, 0, 0, 0.8);
    color: rgba(255, 255, 255, 0.9);
  }


.button-toggle {
  padding: 0px;
  width: 255px;
}

#myModal-container {
  position: absolute;
  width: 500px;
  top: 50vh;
  left: 50vw;
  transform: translate(-20vw, -15vh);
}

.myModal-content {
  padding-top: 5%;
  padding-left: 10%;
  padding-bottom: 5%;
}

.button-split-type {
  padding: 5px 10px;
  border: none;
}

.hidden {
  display: none;
}

// .add-bill-input {
//   width: 90%;
//
// }
//
// .add-bill-input-label {
//   margin-top: 10px;
// }

#search-bar-drop-down {
  padding: 0;
}

.split-option-user-row {
  padding: 10px;
}

.button-small {
  padding: 2px 6px 3px 6px;
  border: none;
}

.button-colored-small {
  padding: 5px 10px;
  border: none;
  background-color: rgba(128, 0, 0, 0.8);
}

.modal-close {
  z-index: 1;
  position: absolute;
  top: 0;
  right: 15px;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
  color: gray;
}

.modal-close:hover {
  color: black;
}

#list-of-participants {
  margin-bottom: 0;
}

.event-item {
  font: 'PT Sans', sans-serif;
  color: rgba(0, 0, 0, 0.9);
  background-color: rgba(255, 255, 255, 0.6);
  padding: 3vh;
  border-top: solid;
  border-color: #a4a4c1;
  border-width: 1px;
  box-shadow: 5px 5px 5px #888888;
}

.background-container {
  background: url("background_01.jpg") no-repeat center center fixed;
  width: 100%;
  top: 51px;
  left: 0px;
  position: absolute;
  height: calc(100% - 51px);
}

.homepage-background {
  background: url("background_01.jpg") no-repeat center center fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  position: absolute;
  overflow: hidden;
}

.balance-container {
  position: absolute;
  top: 0;
}

.below-nav-container {
  top: 51px;
  left: 0px;
  position: fixed;
  // overflow-y: scroll;
  width: 100%;
  height: calc(100% - 51px);
}

.inner-div-nav {
  position: absolute;
  top:0;
}

.stretch-height {
  height: calc(100vh - 170px);
}

.index-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: scroll;
}

.background-filter {
  background-color: rgba(255,255,255, 0.8);
  border: solid;
  border-right: none;
  border-color: white;
  border-width: 8px;
}

@media only screen {

}

.positive-amt {
  color: green;
  font-weight: bold;
}

.negative-amt{
  color: red;
  font-weight: bold;
}

.bottom{
  position: absolute;
  height: 35px;
  background-color: #222;
  border-color: #090909;
  bottom: 0px;
}

.user-index-header {
  padding: 10px 10px;
  background-color: #dff0d8;
  border-radius: 5px;
  border: solid;
  border-width: 1px;
  border-color: rgb(112, 219, 112);
  box-shadow: 5px 5px 5px #888888;
}

.user-index-header:hover {
  background-color: #95cd7e;
  cursor: pointer;
}

.login-overlay{
  width: calc(370px + 10vw);
  height: calc(290px + 10vh);
}

.session-input {
  font-family: Arial, sans-serif;
  font-size: large;
  height: 40px;
}

.session-group {
  height: 40px;
}

.session-form {
  position: relative;
  font-family: Arial, sans-serif;
  margin: 5% 10% 2% 10%;
  height: 120px;
  background-color: #E7ECEE;
  border-radius: 7px;
}

.session-row {
  position: relative;
  text-align: center;
  font-size: large;
  margin: 2% 10%;
  height: 50px;
  background-color: #E7ECEE;
  border-radius: 7px;
  transition: background-color 0.7s;
}

.demo-row {
  position: relative;
  text-align: center;
  font-size: large;
  margin: 2% 10%;
  height: 50px;
  background-color: #95d095;
  border-radius: 7px;
  transition: background-color 0.7s;
  cursor: pointer;
}

.session-row.active {
  cursor: pointer;
}

.session-row.inactive {
  cursor: not-allowed;
}

.session-row-content {
  position: absolute;
  top: 30%;
}

.session-form-content {
  position: absolute;
  top: 18%;
}

.demo-row:hover {
  background-color: #5fb95f;
}

.session-row.active:hover {
  background-color: #97acb5;
}

.session-row.inactive:hover {
  background-color: white;
  color: #bfbfbf;
}

.session-modal-content {
  border: none;
  position: relative;
  top: 50px;
  left: calc(45% - 150px - 5vw);
  width: calc(370px + 10vw);
  height: calc(290px + 10vh);
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.homepage-content {
  font-family: Arial, sans-sarif;
  font-weight: 700;
  font-size: x-large;

  color: white;
  background-color: rgba( 0, 0, 0, 0.6);
  border-radius: 7px 0px 0px 7px;
  height: calc(250px + 5vh);
  width: 100%;
  position: absolute;
  padding-left: 2%;
  left: calc(40% - 150px - 5vw);
  top: calc(45% - 150px - 5vh);
}

.session-form-spacing{
  height: 1px;
}

.homepage-heading1 {
  font-weight: 700;
}

.homepage-heading2 {
  font-weight: 700;
}

.homepage-spacing {
  height: 25px;
}

//React Css Transitions
.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.participant-item {
  border: 1px solid #ccc;
  height: 30px;
  padding-top: 3px;
}

.participant-header {
  height: 30px;
  padding-top: 3px;
  font-size: medium;
  border: 1px solid #70db70;
  border-radius: 5px 5px 0px 0px;
  margin-top: 5px;
  background-color: #dff0d8;
}

.list-of-participants {
  margin-bottom: 10px;
}

.modal-header.bill-modal-header {
  padding: 10px 15px;
}

.close.bill-modal-close {
  font-size: xx-large;
}

.modal-title.bill-modal-title {
  margin-left: 10px;
  margin-top: 5px;
}

.payer-header {
  background-color: #ccddff;
  border: 1px solid #3376ff;
  height: 30px;
  padding-top: 4px;
  border-radius: 5px 5px 0px 0px;
}

.payer-addon {
  border-radius: 0px 0px 0px 5px;
}

.payer-input {
  border-radius: 0px 0px 5px 0px
}

.bill-description {
  margin-top: 8px;
  margin-bottom: 8px;
}

.session-warning.active {
  display: block;
  position: absolute;
  z-index: 12;
  top: -40px;
  color: #cc0000;
  background-color: #ff8080;
  border: 1px solid red;
  height: 40px;
  border-radius: 5px;
  padding: 10px;
}

.session-warning {
  display: none;
}

.bill-datepicker {
  height: 40px;
  border-radius: 5px;
  margin-top: 7px;
  margin-bottom: 7px;
}
